

<h1>Welcome to Amari Donation Request</h1>
# <h2>Request Clothing Donation</h2>



# <h3>Log In</h3>
# <form action="/signup" method="POST">
#   <input type="text" name="username" placeholder="Username:">
#   <input type="password" name="password" placeholder="Password:">
#   <input type="submit" value="Sign Up">
# </form>

