<h1> Buttons/ cards for new request or existing requests </h1>
<form action="/request/new">
    <button class="button button2"><a href="/users/request"></a>Request</button>
   
</form>

<form action="/request/show">
    <button class="button button2"><a href="/users/request"></a>My Existing Requests</button>
   
</form>


<h2> new request shows form, existing requests shows requests by user ID</h2>