<h4 class="center-align"> Manage your existing requests, or make a new request based on your needs</h4>

<div class="row">
<div class="col s6">
      <div class="card teal accent-4">
      <div class="card-content">
       <span class="card-title activator white-text">NEW REQUEST<i class="material-icons right"></i></span>
       <p><a href="/request/new">CLick Here</a></p>
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">We got you<i class="material-icons right">close</i></span>
      <p>Find clothing in your size for any season</p>
      <p><a href="/request/new">New Request</a></p>
    </div>
  </div>  
  </div>
  
    <div class="col s6 offset--s6">
      <div class="card teal accent-4">
      <div class="card-content">
        <span class="card-title activator white-text">ALL REQUESTS<i class="material-icons right"></i></span>
        <p><a href="/request/show">Click Here</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Anytime, anywhere<i class="material-icons right">close</i></span>
        <p>Manage your existing requests</p>
        <p><a href="/request/show">All Requests</a></p>
      </div>
    </div>
  </div>
</div>      








