<h4 class="center-align">Welcome,<%=current_user.first_name%>!</h4><br>
<h5 class="center-align"> Amari is here to make sure that your clothing needs are taken care of. From bare essentials, to accessories and outerwear, we hope to keep you covered through every season.</h5><br>
<h5 class="center-align"> If you are in a position to lend a helping hand, please donate in any way that you can</h5>

<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>
<div class="row">
<div class="col s6">
      <div class="card teal accent-4">
      <div class="card-content">
       <span class="card-title activator white-text">Give with all of your heart<i class="material-icons right"></i></span>
       <p><a href="/users/donate">Donate(Coming Soon)</a></p>
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Sign Up<i class="material-icons right">close</i></span>
      <p>Donate to specific requests or monetarily</p>
      <p><a href="/users/donate">Donate(Coming Soon)</a></p>
    </div>
  </div>  
  </div>
  
    <div class="col s6 offset--s6">
      <div class="card teal accent-4">
      <div class="card-content">
        <span class="card-title activator white-text">Amari has your needs covered<i class="material-icons right"></i></span>
        <p><a href="/users/request">Request</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Request<i class="material-icons right">close</i></span>
        <p>Find clothing in your size for any season</p>
        <p><a href="/users/request">Request</a></p>
      </div>
    </div>
  </div>
</div>      





</form>
</body>
</html>
<!-- add cards --!>