<h1>This is the show page for an individual instance of your model.</h1>
<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>
<form action="/users/donate">
    <button class="button button1">Donate</button>
</form>
<form action="/users/request">
    <button class="button button2"><a href="/users/request"></a>Request</button>
   
</form>



</form>
</body>
</html>