<div class="container">
   <header><h1>Amari DRFM</h1></header>
  <div class="col-md-8 col-md-offset-2">
    
    <div class="content">
      <h3>Welcome to the Amari Donation Request and Fulfillment Manager!</h3>
         <p> Please <a href="/users/new">Sign Up</a> or <a href="/users/login">Log In</a> to continue.</p>
    </div>



  </div>
</div>