<div class="container">

  
  <div class="col-md-8 col-md-offset-2">
  <div class="content">
      
      
  <div class="row">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
  <h2 class="center-align">Welcome to the Amari Donation Request and Fulfillment Manager!</h2>
    <div class="col s6">
      <div class="card teal accent-4">
      <div class="card-content">
       <span class="card-title activator white-text"> Amari wants to connect you to resources that help you live, or help you give<i class="material-icons right"></i></span>
       <p><a href="/users/new">Sign Up</a></p>
     </div>
     <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Sign Up<i class="material-icons right">close</i></span>
      <p>Sign Up here to lend a helping hand or let us cover your needs</p>
      <p><a href="/users/new">Sign Up</a></p>
    </div>
  </div>  
  </div>
  
    <div class="col s6 offset--s6">
      <div class="card teal accent-4">
      <div class="card-content">
        <span class="card-title activator white-text">Hard times can befall anyone. Amari is here to help breathe easier <i class="material-icons right"></i></span>
        <p><a href="/users/login">Log In</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Log In<i class="material-icons right">close</i></span>
        <p>Login to your page to make a donation, or make a request for your clothing needs</p>
        <p><a href="/users/login">Log In</a> to continue.</p>
      </div>
    </div>
  </div>
</div>      
      
      
      
    </div>



  </div>
</div>